@import "../variables";

h1 {
  text-align: center;
}

.calendar {
  width: ($day-size + $cell-gap) * 7;

  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

.calendar div {
  width: $day-size;
  height: $day-size;

  margin: 0 $cell-gap $cell-gap 0;

  text-align: center;
  line-height: $day-size;

  border: 1px solid black;

  box-sizing: border-box;

  background-color: #eee;

  transition: background-color 0.5s, transform 0.5s;

  &:hover {
    cursor: pointer;

    background-color: pink;

    transform: translateY(-20px);
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::before {
    content: "#{$i}";
  }
}

@each $days in $month-days {
  .calendar-#{$days} div:nth-child(n + #{$days + 1}) {
    display: none;
  }
}

@each $day, $left-gap in $start-day {
  .calendar-#{$day} div:first-child {
    margin-left: $left-gap;
  }
}
